.table-container {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-grow: 0 !important;
  width: 650px !important;
}

.table {
  width: 650px !important;
  flex-grow: 0 !important;
}